*{
    font-family: 'Noto Sans SC', sans-serif;
}


body{
    overflow-x: hidden !important;
    max-width: 100%;
    max-height: 100%;
    margin: 0;
    padding: 0 
 
  } 

#Logo{
    width:160px
}

.loginForm{
  
    text-shadow: 0 0  black;
    background: rgba(255, 255, 255, 0.484);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.449);
    backdrop-filter: blur( 2.5px );
    -webkit-backdrop-filter: blur( 2.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    max-width:520px;
    
}

.staffTable{

    text-shadow: 0 0  black;
    background: rgba(255, 255, 255, 0.737);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.449);
    backdrop-filter: blur( 2.5px );
    -webkit-backdrop-filter: blur( 2.5px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.profileBackground{
    background-image: url('/images/dayview_1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;

}

.deleteBackground{
    background-image: url('/images/dayview_1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;

}
#login-background {
    background-image: url('/images/city.jpg');
    /* background-repeat: no-repeat; */
    background-size: cover;
    /* background-position: center; */
    height: 100%;
   
}




.logOut{
    border-radius: 4px;
    margin-right: 2px;
    padding: 6px 30px;
    font-size: 14px;
    background-color:black;
}