
 <div id="login-background" >
    
   {{#extends 'base'}}
{{#block 'content'}}
   <div class="row ms-5 me-5 d-flex justify-content-center" style="margin-top:80px" >
  
      
 <div class="loginForm m-3 p-3 shadow-lg rounded-3 col-12 col-md-12 col-sm-12" > 

<div>
<div class="d-flex justify-content-between">
<h2>Admin Login</h2>
</div>
<p>Login to account below!</p>
<form method="POST">
{{{form}}}
   <input type="hidden" value="{{csrfToken}}" name="_csrf"/>
<input type="submit" class="btn btn-dark mt-3" value="Login"/>
</form>
</div>
</div>
</div>
</div>
{{/block}}

{{/extends}}