{{#extends 'base'}}

{{#block 'content'}}
  <div class="row m-3 mx-auto" style="width:50vw">
   <div class="p-3 mt-3 mb-4 shadow-lg rounded-5 col" >
<h1>Staff Registration</h1>
<form method="POST">
    {{{form}}}
       <input type="hidden" name="_csrf" value="{{csrfToken}}"/>
    <input type="submit" value="Register" class="btn btn-dark mt-3"/>
    <a href="/users" class="btn btn-dark mt-3">Back</a>
    {{/block}}
</form>
</div>
</div>
{{/extends}}